@charset "utf-8";

/* main */
.main_visual_wrap{height: 100vh; position: static; z-index: -1; top: 0; width: 100%; max-width: none; display: flex; justify-content: center; align-items: center;}

.main_txt_bg{position: absolute; z-index: 0; width: 100%; height: 100%;}
.main_txt_bg svg{position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%);}
.main_txt_bg svg text{stroke: #e1e1e1; stroke-width: 1px; fill: #fff; font-family: 'Noto Sans KR'; font-weight: 700; font-size:450px; letter-spacing: -30px; stroke-dasharray: 1300px; animation: stroke 3s linear; animation-iteration-count: infinite}
.main_txt_bg svg text.port{}
.main_txt_bg svg text.folio{}

@keyframes stroke {
    0%{stroke-dashoffset: 1300px;}
    100%{stroke-dashoffset: 0px;}
}

.main_txt{text-align: center; background-color: transparent; position: absolute; z-index: 2;}
.main_txt .big01{display: block; font-size: 200px; letter-spacing: -15px; line-height: 110%; font-family: 'Noto Sans KR'; font-weight: 700; background-color: transparent;}
.main_txt .big02{display: block; color: #ccc; font-size: 200px; letter-spacing: -15px; line-height: 30px; font-family: 'Noto Sans KR'; font-weight: 700; background-color: transparent;}
.main_txt .small{margin-top:130px; font-size: 0.9rem; line-height: 150%; background-color: transparent;}

.main_tlt{font-family: 'Pretendard-Regular'; font-size: 1.8rem; display: inline-block; position: relative; margin-bottom: 50px; z-index: 1; background: transparent; letter-spacing: 1px;}
.main_tlt::after{content: ''; display: inline-block; width: 31px; height: 31px; border-radius: 50%; background-color: #009245; position: absolute; top: -7px; right: -15px; z-index: -1;}

.main_con_wrap{padding: 130px 0;}
.main_con{display: flex;}

#main_about{position: relative; z-index: 1; background-color: #fff;}
#main_about .about_l{margin-right: 80px;}
#main_about .about_l img{}
#main_about .about_r{}
#main_about .about_r .about_con{margin-bottom: 70px;}
#main_about .about_r .about_tlt{margin-bottom: 30px;}
#main_about .about_r .about_con ul li{display: flex; margin-bottom: 15px;}
#main_about .about_r .about_con ul.profile .ac_left{width: 13%;}
#main_about .about_r .about_con ul.skills .ac_left{width: 20%;}
#main_about .about_r .about_con ul li:last-child{margin-bottom: 0;}
#main_about .about_r .about_con .ac_left{margin-right: 20px; font-family: 'Pretendard-Medium'; }
#main_about .about_r .about_con .skill_bar{border: 1px solid #ccc; width: 50%;}
#main_about .about_r .about_con ul li:nth-child(1) .skill_fill{background-color: #539c75; width: 90%; height: 100%;}
#main_about .about_r .about_con ul li:nth-child(2) .skill_fill{background-color: #539c75; width: 60%; height: 100%;}
#main_about .about_r .about_con ul li:nth-child(3) .skill_fill{background-color: #539c75; width: 90%; height: 100%;}
#main_about .about_r .about_con ul li:nth-child(4) .skill_fill{background-color: #539c75; width: 90%; height: 100%;}
#main_about .about_r .about_con ul li:nth-child(5) .skill_fill{background-color: #539c75; width: 50%; height: 100%;}

#main_portfolio{height: calc(100vh - 200px); position: relative; overflow: hidden;}
#main_portfolio .portfolio_bg{width: 100%; height:100%; position: absolute; top: 0;}
#main_portfolio .portfolio_conwrap{position: absolute; width: 100%; background-color: transparent; top: 50%; transform: translateY(-50%);}
#main_portfolio .portfolio_conwrap div{background: transparent;}

#main_portfolio .portfolio_bg .circle{display:block; border-radius: 50%; position: absolute;}
#main_portfolio .portfolio_bg .c1{right: 50px; top: 10%; width: 450px; height: 450px; background-color: #004922; animation: c1 10s linear; animation-iteration-count: infinite;}
#main_portfolio .portfolio_bg .c2{ top: -15%; left: 50%; width: 400px; height: 400px; background-color: #009245; opacity: 30%; animation: c2 7s ease-in; animation-iteration-count: infinite;}
#main_portfolio .portfolio_bg .c3{background:url(../img/rotate_text.png) center center no-repeat; opacity: 70%; left: -300px; bottom: -20%; width: 500px; height: 500px; animation: rotate_c3 16s linear infinite; background-size: 90%;}

@keyframes c2 {
    0%,100%{transform: translateY(0)}   
    50%{transform: translateY(50px)}  
}
@keyframes c1 {
    0%,100%{transform: scale(1); transform: translate(0px, 80px)} 
    25%{transform: scale(1.05); transform: translate(-80px, 0px);}  
    50%{transform: scale(1.1); transform: translate(0px, -80px);}   
    75%{transform: scale(1.05); transform: translate(80px, 0px);}   
}
@keyframes rotate_c3 {
    100%{transform: rotate(360deg);}
}

#main_portfolio .pf_con{}
#main_portfolio .pf_con .prev_img{position: relative;}
#main_portfolio .pf_con .prev_img .pc{text-align: center; background-color: transparent; width: 450px; margin: 0 auto;}
#main_portfolio .pf_con .prev_img .pc img{width: 100%;}
#main_portfolio .pf_con .prev_img .site_hover{width: 413px; height: 232px;  position: absolute; top: 19px; left: 50%; transform: translateX(-50%); transition: 10s linear;}

#main_portfolio .pf_con .prev_img .site_hover.w01{background: url(../img/daeji_hover.jpg) center top no-repeat; background-size: cover; }
#main_portfolio .pf_con .prev_img .site_hover.w02{background: url(../img/wstextile_hover.jpg) center top no-repeat; background-size: cover;}
#main_portfolio .pf_con .prev_img .site_hover.w03{background: url(../img/yura_hover.jpg) center top no-repeat; background-size: cover;}
#main_portfolio .pf_con .prev_img .site_hover.w04{background: url(../img/silvaco_hover.jpg) center top no-repeat; background-size: cover;}
#main_portfolio .pf_con .prev_img .site_hover.w05{background: url(../img/remedif_hover.jpg) center top no-repeat; background-size: cover;}
#main_portfolio .pf_con .prev_img .site_hover.w06{background: url(../img/dreamphilos_hover.jpg) center top no-repeat; background-size: cover;}
#main_portfolio .pf_con .prev_img .site_hover.w07{background: url(../img/PMG_hover.jpg) center top no-repeat; background-size: cover;}
#main_portfolio .pf_con .prev_img .site_hover.w08{background: url(../img/mjtech_hover.jpg) center top no-repeat; background-size: cover;}

#main_portfolio .pf_con .prev_img .site_hover:hover{background-position: center bottom;}
#main_portfolio .pf_con .prev_bottom{text-align: center;}
#main_portfolio .pf_con .prev_bottom .portf_sitename{font-family: 'Pretendard-Regular'; font-size: 1.3rem; margin: 50px 0 40px; background: transparent;}
#main_portfolio .pf_con .prev_bottom button{background-color: transparent; border: 1px solid #9b9b9b; width: 110px; height: 35px;}
#main_portfolio .pf_con .prev_bottom button a{font-size: 0.9rem; display: block; height: 100%; line-height: 35px;}
#main_portfolio .pf_con .prev_bottom button.process{margin-right: 60px;}

#main_portfolio .slick-prev{position: absolute; cursor: pointer; bottom: 10px; left: calc(50% - 230px); color: transparent; width: 22px; z-index: 1; color: transparent; background-color: transparent; border: none;}
#main_portfolio .slick-prev:after{content:''; display: block; width: 13px; height: 13px; border-top: 3px solid #004922; border-right: 3px solid #004922; transform: rotate(225deg); position: absolute; top: 0; left: 5px;}

#main_portfolio .slick-next{position: absolute; cursor: pointer; bottom: 10px; right: calc(50% - 230px); color: transparent; width: 22px; z-index: 1; color: transparent; background-color: transparent; border: none;}
#main_portfolio .slick-next:after{content:''; display: block; width: 13px; height: 13px; border-top: 3px solid #004922; border-right: 3px solid #004922; transform: rotate(45deg); position: absolute; top: 0; left: 5px;}



#main_artwork{position: relative; background-color: #fff;}
.artwork_list{flex-wrap: wrap; display: flex;}
.artwork_list li.con_load{width:50%; /*height: 400px;*/ position: relative; display: none; font-size: 0;}
.artwork_list li.con_load.active{display: block;}
.artwork_list li.con_load:after{display: none;}
.artwork_list li a:hover img{transform: scale(1.1);}
.artwork_list li a img{transition: 0.3s; width: 100%; height: 100%;}
.artwork_list li a{display: block; width: 100%; height: 100%; overflow: hidden; position: relative;}
.artwork_list li a .artwork_cover{background-color: rgba(0,0,0,0.5); opacity: 0; position: absolute; top: 0; width: 100%; height: 100%; transition: 0.3s; ;}
.artwork_list li a:hover .artwork_cover{opacity: 1;}
.artwork_list li a .artwork_cover strong{position: absolute;top: 50%; left: 50%; color: #fff; transform: translate(-50%, -50%); font-size: 30px; text-align: center; word-break: keep-all;}
.all_art{width: 140px; height: 45px; display: none; border: 1px solid #9b9b9b; text-align: center; margin: 100px auto 50px; font-size: 1rem;}
.all_art a{display: block; height: 100%; line-height: 45px;}
button.more{display: block; width: 140px; height: 45px; border: 1px solid #9b9b9b; text-align: center; margin: 100px auto 50px; background: transparent; font-size: 1rem; cursor: pointer;}
.artwork_modal{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); z-index: 999999; display: none;}
.artwork_modal .artwork_con{position:absolute; top: 50%; left: 50%; width: 75%; max-width: 2000px; height: 80%; background-color: #fff; transform: translate(-50%, -50%);}
.artwork_modal .artwork_conwrap{overflow: hidden; width: 100%; height: 100%; overflow-y: scroll;}
.artwork_modal .artwork_con img{width: 100%;}
.artwork_modal .close{position: absolute; top:-30px; right: 5px; background: transparent; cursor: pointer; width: 20px; height: 20px; border: none;}
.artwork_modal .artwork_con .close:before{content:''; display: block; position: absolute; width: 20px; height: 2px; background-color: #fff; transform: rotate(45deg); }
.artwork_modal .artwork_con .close:after{content:''; display: block; position: absolute; width: 20px; height: 2px; background-color: #fff; transform: rotate(135deg); }



#main_contact{background-color: #000; padding-bottom: 0; overflow-x: hidden}
#main_contact .main_tlt{color: #fff; background-color: #000;}
#main_contact .container2{background-color: #000; border-bottom: 1px solid #fff;}
#main_contact .contact_con{background-color: #000; text-align: right;}
#main_contact p,
#main_contact strong{background-color: #000; color: #fff;}
#main_contact .contact01{font-size: 1.3rem; font-family: 'Pretendard-Regular'; margin-bottom: 20px;}
#main_contact .contact02{font-size: 1.5rem; font-family: 'Pretendard-Medium';}
#main_contact .contact03{display: block; margin-bottom: 100px; font-size: 1.3rem; color: #878787; font-family: 'Pretendard-Regular'; }
#main_contact .mail{display: block; margin: 30px 0 60px; font-size: 4.8rem; font-family: 'SUITE-Regular'; letter-spacing: 2px;}



/* -------------------------------------------------------------------------------------------------------------------------------- */

/* pc only */
@media all and (max-width:1320px) {

    #main_portfolio .portfolio_bg .c1{right: -50px;}
    #main_contact .mail{font-size: 5rem;}


    
}


/* -------------------------------------------------------------------------------------------------------------------------------- */


/* labtop */
@media all and (max-width:1024px) {

    .main_txt .big01{font-size: 110px; letter-spacing: -7px;}
    .main_txt .big02{font-size: 110px; line-height: 40px; letter-spacing: -7px;}
    .main_txt .small{font-size: 1rem;}

    #main_about .about_l{width: 50%; margin-right: 30px;}
    #main_about .about_l img{width: 100%;}
    #main_about .about_r .about_con .ac_left{width: 30%;}
    #main_about .about_r .about_con .ac_right{width: 70%;}

    #main_contact .contact01{font-size: 24px; margin-bottom: 15px; line-height: 40px; word-break: keep-all;}
    #main_contact .mail{font-size: 3rem;}

}


/* -------------------------------------------------------------------------------------------------------------------------------- */


/* tablet */
@media all and (max-width: 768px) {

    .main_txt .small{margin-top: 80px; word-break: keep-all;}

    .main_tlt{font-size: 1.5rem;}
    .main_con_wrap{padding: 80px 0;}

    .main_con{flex-wrap: wrap;}
    #main_about .about_l{width: 100%;}
    #main_about .about_r{margin-top: 50px;}
    #main_about .about_r .about_con{margin-bottom: 50px;}
    #main_about .about_r .about_con .ac_right{word-break: keep-all; }

    #main_portfolio .portfolio_bg .c1{display: none;}
    #main_portfolio .portfolio_bg .c2{display: none;}
    #main_portfolio .portfolio_bg .c3{width: 400px; height: 400px; left: -250px; bottom: -25%;}
    #main_portfolio .pf_con .prev_bottom button a{font-size: 1rem;}
    #main_portfolio .pf_con .prev_img .pc{width: 380px;}
    #main_portfolio .pf_con .prev_img .site_hover{width: 350px; height: 194px; top: 17px;}

    .artwork_list li.con_load{width: 100%;}
    .artwork_modal .artwork_con{width: 90%;}
    #main_artwork button.more{font-size: 1rem; height: 45px;}
    .all_art{height: 45px;}
    .all_art a{line-height: 45px; font-size: 1rem;}


    #main_contact .contact01{font-size: 1.2rem; line-height: 2.1rem;}
    #main_contact .contact02{font-size: 1.4rem; line-height: 2.1rem;}
    #main_contact .contact03{font-size: 1.2rem;}

    

} 
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* mobile */
@media all and (max-width: 425px) {

    .main_txt .big01{font-size: 70px; letter-spacing: -7px;}
    .main_txt .big02{font-size: 70px; }
    .main_txt .small{font-size: 0.8rem; margin: 50px 20px 0; word-break: keep-all;}

    #main_portfolio .pf_con .prev_img .pc{width: 270px;}
    #main_portfolio .pf_con .prev_img .site_hover{width: 247px; top: 13px; height: 137px;}
    #main_portfolio .pf_con .prev_bottom .portf_sitename{font-size: 1.2rem;}
    #main_portfolio .pf_con .prev_bottom button{width: 90px;}
    #main_portfolio .pf_con .prev_bottom button.process{margin-right: 15px;}

    .all_art{width: 100px; height: 35px; margin: 60px auto;}
    .all_art a{line-height: 35px; font-size: 1rem;}
    #main_artwork button.more{width: 100px; height: 35px; margin: 60px auto;}

    #main_contact .contact01{font-size: 0.9rem; line-height: 1.6rem; text-align: left; font-family: 'Pretendard-Thin';}
    #main_contact .contact02{font-size: 1.2rem; text-align: left;}
    #main_contact .mail{font-size: 1.5rem; margin: 20px 0 30px;}
    #main_contact .contact03{font-size: 0.9rem; font-family: 'Pretendard-Thin';}

} 

/* -------------------------------------------------------------------------------------------------------------------------------- */
