@charset "utf-8";

.web_title{background-color: #f5f5f5; padding: 160px 0 50px; position: relative; z-index: 0;}
.web_title h2{display: inline-block; margin-right: 20px; font-size: 2.3rem; font-weight: 700;}
.web_title span{font-size: 1.3rem; font-weight: 500; color: #333;}
.web_title .line{width: 30px; height: 3px; background: #000; margin: 30px 0;}
.web_title .tag_wrap{display: flex;}
.web_title .tag_wrap .tag{border: 1.5px solid rgba(0, 146, 69, 0.7); border-radius: 20px; color: #009245; padding: 7px 15px; margin-right: 20px; font-size: 0.9rem;}
.web_title:after{content:'WEB PORTFOLIO'; position: absolute; color:#e9e9e9; font-size: 80px; right:10px; bottom: 0; font-weight: 700; letter-spacing: -4px; line-height: 60px; z-index: -1;}
.web_title.artwork_title:after{content:'ART WORK'; position: absolute; color:#e9e9e9; font-size: 80px; right:10px; bottom: 0; font-weight: 700; letter-spacing: -4px; line-height: 60px;}

.wp_img{width: 90%; margin: 120px auto 100px; position: relative;}
/* .wp_img:after{content:''; display:block; width: 110%; height:200px; background-color: #ccc; margin: 0 auto; position: absolute; left: 50%; bottom: -30px; transform: translateX(-50%); z-index: -1;} */
.wp_img img{width: 100%;   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}

.overview, .work_info{margin-bottom: 70px;;}
.overview h3, .work_info h3{display:inline-block; font-size: 1.8rem; position: relative; margin-bottom: 2rem;}
.overview h3::after,
.work_info h3::after{content: ''; display: inline-block; width: 31px; height: 31px; border-radius: 50%; background-color: #009245; position: absolute; top: -7px; right: -15px; z-index: -1;}

.overview > p{font-size: 1.1rem; line-height: 2.5rem;}
.overview .org_site p{font-size: 0.8rem; color: #ccc;}
.work_info ul li{margin-bottom: 1.2rem; font-size: 1.1rem; display: flex;}
.work_info ul li b{width: 15%;}


.pf_button{margin: 120px auto; display: flex; justify-content: center;}
.pf_button .link:first-child{margin-right: 20px;}
.pf_button .link{border: 1px solid #9b9b9b; width: 140px; height: 45px; }
.pf_button .link a{display: block; width: 100%; height: 100%; font-size: 1rem; line-height: 45px; text-align: center; }
.pf_button .link button{display: block; width: 100%; height: 100%; font-size: 1rem; line-height: 45px; text-align: center; background-color: transparent; border: none; cursor: pointer;}





/* all_artwork */
.artwork_list{flex-wrap: wrap; display: flex; margin: 100px 0;}
.artwork_list li.con_load{width:50%; height: 400px; position: relative;}
.artwork_list li a:hover img{transform: scale(1.1);}
.artwork_list li a img{transition: 0.3s; width: 100%; height: 100%;}
.artwork_list li a{display: block; width: 100%; height: 100%; overflow: hidden; position: relative;}
.artwork_list li a .artwork_cover{background-color: rgba(0,0,0,0.5); opacity: 0; position: absolute; top: 0; width: 100%; height: 100%; transition: 0.3s; ;}
.artwork_list li a:hover .artwork_cover{opacity: 1;}
.artwork_list li a .artwork_cover strong{position: absolute;top: 50%; left: 50%; color: #fff; transform: translate(-50%, -50%); font-size: 30px;}
.all_art{width: 140px; height: 55px; display: none; border: 1px solid #000; text-align: center; margin: 100px auto 50px; font-size: 18px;}
.all_art a{display: block; height: 100%; line-height: 55px;}
button.more{display: block; width: 140px; height: 55px; border: 1px solid #000; text-align: center; margin: 100px auto 50px; background: transparent; font-size: 18px; cursor: pointer;}
.artwork_modal{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); z-index: 999999; display: none;}
.artwork_modal .artwork_con{position:absolute; top: 50%; left: 50%; width: 50%; height: 500px; background-color: #fff; transform: translate(-50%, -50%);}
.artwork_modal .artwork_conwrap{overflow: hidden; width: 100%; height: 100%; overflow-y: scroll;}
.artwork_modal .artwork_con img{width: 100%;}
.artwork_modal .close{position: absolute; top:-30px; right: 5px; background: transparent; cursor: pointer; width: 20px; height: 20px; border: none;}
.artwork_modal .artwork_con .close:before{content:''; display: block; position: absolute; width: 20px; height: 2px; background-color: #fff; transform: rotate(45deg); }
.artwork_modal .artwork_con .close:after{content:''; display: block; position: absolute; width: 20px; height: 2px; background-color: #fff; transform: rotate(135deg); }

